--- 
layout: default
cattop: true
relatedposts: true
comment: true
--- 
<!-- Blog Post -->
<!-- Title -->
<article>
	<h2>
	  {{ page.title }}
	  <div class="post-date">
		<span class="glyphicon glyphicon-time"></span>
		{{ page.date | date: '%Y-%m-%d' }}
	  </div>
	</h2>
	<hr>
	<p>{{ content }}</p>
</article>
<br/>
<div style="margin-top:10px;margin-bottom:10px">
  <ul class="list-unstyled">{%if page.previous%}
    <li class="next">
      上篇：
      <a href="{{page.previous.url}}">
        {{page.previous.title}}
      </a>
    </li>{%endif%} 
    {%if page.next%}
    <li class="prev">
      下篇：
      <a href="{{page.next.url}}">
        {{page.next.title}}
      </a>
    </li>{%endif%}
  </ul>
</div>
<hr>